<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tx.dao.TradeOnDao">
<resultMap type="tradeOn" id="tradeOnMap">
	<id column="id" property="id"/>
	<result column="tradeOnDate" property="tradeOnDate"/>
	<result column="tradeContext" property="tradeContext"/>
	<association property="grade" column="gid" javaType="grade" select="com.tx.dao.GradeDao.queryGradeById"></association>
	<association property="user" column="userid" javaType="user" select="com.tx.dao.UserDao.queryUserById"></association>
	<association property="team" column="tid" javaType="team" select="com.tx.dao.TeamDao.queryTeamById"></association>
	<association property="player" column="pid" javaType="player" select="com.tx.dao.PlayerDao.queryPlayerById"></association>
</resultMap>

<select id="queryTradeOnListByGid" parameterType="int" resultMap="tradeOnMap">
	select * from tx_tradeon where gid = #{gid} order by tradeOnDate desc
</select>

<update id="updateTradeOn" parameterType="tradeOn">
	update tx_tradeOn 
	<trim prefix="set" suffixOverrides=",">
		<if test="user!=null">
			userid= #{user.id},
		</if>
		<if test="team!=null">
			tid=#{team.id},
		</if>
		<if test="player!=null">
			pid = #{player.id},
		</if>
		<if test="tradeContext!=null and tradeContext!=''">
			tradeContext = #{tradeContext},
		</if>
		<if test="grade!=null">
			gid= #{grade.id},
		</if>
		<if test="tradeOnDate!=null">
			tradeOnDate = #{tradeOnDate},
		</if>
		where id = #{id}
	</trim>
</update>

<insert id="addTradeOn" parameterType="tradeOn">
	insert into tx_tradeOn(userid,pid,tid,gid,tradeOnDate,tradeContext)
	 values(#{user.id},#{player.id},#{team.id},#{grade.id},#{tradeOnDate},#{tradeContext})
</insert>
</mapper>